- message = resource.errors.messages.map{ |attr,msg| msg.join(', ') }.join
/ -byebug
- msg_klass = "info"
- message_hash = "{\"status\": \"#{msg_klass}\",\"pos\": \"bottom-right\"}"
- if message.present?
  %button#message.hidden{"data-message" => message, "data-notify" => "", "data-options" => "#{message_hash}", :type => "button"}
